
filelock
ytdlp-brighteon>=2023.10.3
docker-run-cmd>=1.0.13
Pillow
certifi
appdirs
open-webdriver>=1.6.9
pytz
python-dateutil
feedparser
download
static-ffmpeg>=2.12
pytest-playwright
beautifulsoup4>=4.13.3
virtual-fs>=1.0.10
webdriver-manager
pyvirtualdisplay
yt-dlp>=2025.3.25
youtube-trusted-session-generator
rclone-api>=1.5.46
yt-dlp-get-pot
